.bookAppointment{
    background-image: url("/public/images/tiles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.bookItems{
    display: flex;
    width: 90%;
    margin: 0 auto;

}

.bookItem1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 30px;
    position: relative;
    width: 60%;
    /* background-color: beige; */
    padding: 0px 80px;
}

.bookItem1 h3{
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.bookItem1 h2{
    font-weight: 100;
    margin-bottom: 20px;
    opacity: 0.9;
}

.bookItem1 span{
    font-size: 14px;
    letter-spacing: 0.05em;
    width: 60%;
    margin-bottom: 16px;
}

.bookItem1 button{
    font-size: 16px;
    width: 200px;
    padding: 15px 30px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}


.bookItem2{
    /* margin-top: 30px; */
    position: relative;
    width: 40%;
    margin-top: 100px;
}

.bookItem2 img{
    height: 500px;
    width: 400px;
    cursor: pointer;
}